doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    block links
    block scripts
    meta(name="viewport" content="width=device-width,maximum-scale=10,minimum-scale=1,initial-scale=1,user-scalable=no") 
  body
    block content